<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = '/_common/modules/gwbbs/' + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>

<% admin_groups = build_select_parent_groups(nil, RumiHelper::PARENT_GROUP_SETTINGS[:default], :code) %>
<% enable_groups = build_select_user_groups(Core.user.enable_user_groups, :code) %>

<%= raw(tool_tiny_mce(mce_base_url, {:leftbar_mode=>true})) %>
<%= raw(gw_js_include_full) %>


<p class="required"><%= required('※') %><%= I18n.t('rumi.bbs.expiry_date_message') %></p>
<table class="defaultTable inputTable">
  <tr>
    <th><%= t('rumi.gwbbs.th.able_date') %><%= required('※') %></th>
    <td>
      <%
        case params[:action]
        when 'new','forward'
          dd = Gw.date8_to_date(params[:s_date], :default=>'')
          now = Time.now
          hour = now.hour # 時間
          if now.min > 55 && hour <= 22 # 時間繰り上がり用
            hour = hour + 1
          end
          if now.min > 55
            min = 0
          else
            divmod = now.min.divmod(5)
            if divmod[1] > 0 # 分（5分刻み用）
              min = (divmod[0] + 1) * 5
            else
              min = now.min
            end
          end
          _wrk_st = dd.present? ? Gw.date_to_time(dd) : Time.local(now.year, now.month, now.day, hour, min, 0)
          d_load_st = Gw.datetime_str2(_wrk_st)
        else
          dd = Gw.date8_to_date(params[:able_date], :default=>'')
          d_load_org = params[:able_date].nil? ? nil : dd == '' ? nil : Gw.datetime_str(dd)
          d_load_st = Gw.datetime_str2(d_load_org.blank? ? @item.able_date : d_load_org)
        end
      %>
      <%= f.text_field :able_date, :value => d_load_st, time: true, onclick: "new CalendarDateSelect( $(this), {time:true, year_range:10} );", style: "ime-mode: disabled", onkeydown: "return rumi.BlockEnterKeyCode(event);", onpaste: "return false", oncontextmenu: "return false" %><img src="/images/icon/calendar_bla.png" alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {time:true, year_range:10} );" style="cursor:pointer;">
    </td>
    <th><%= t('rumi.gwbbs.th.expiry_date') %></th>
    <td>
      <%
        dd = Gw.date8_to_date(params[:expiry_date], :default=>'')
        d_load_org = params[:expiry_date].nil? ? nil : dd == '' ? nil : Gw.datetime_str(dd)
        d_load_ed = Gw.datetime_str2(d_load_org.nil? ? @item.expiry_date : d_load_org)
        d_load_ed = "" if (@item.inpfld_001 == "1")
      %>
      <%= f.text_field :expiry_date, :value => d_load_ed, time: true, onclick: "new CalendarDateSelect( $(this), {time:true, year_range:10} );", style: "ime-mode: disabled", onkeydown: "return rumi.BlockEnterKeyCode(event);", onpaste: "return false", oncontextmenu: "return false" %><img src="/images/icon/calendar_bla.png" alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {time:true, year_range:10} );" style="cursor:pointer;">
    </td>
  </tr>
  <tr>
    <th><%= t('rumi.gwbbs.th.name_type') %><%= required('※') %></th>
    <td><%= f.radio_buttons :name_type, @item.name_types_select, :class => 'name_type' %></td>
    <th><%= t('rumi.gwbbs.th.section_code') %><%= required('※') %></th>
    <td><%= f.select(:section_code, @gw_admin ? admin_groups : enable_groups, :include_blank => "#{t('rumi.gwbbs.th.section_code')}" + "#{t('rumi.gwboard.message.attached_word')}") %></td>
  </tr>

<% if @title.importance == 1 %>
  <tr>
    <th><%= t('rumi.gwbbs.th.importance') %></th>
    <td colspan="3"><%= f.radio_buttons :importance, @item.importance_states_select, :class => 'state'  %></td>
  </tr>
<% end %>
  <%= f.hidden_field  :inpfld_001 %>
<%= raw(render(:partial => 'form_script')) %>
</table>


<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '<%= I18n.t('rumi.gwboard.attach_list.open') %>';
    } else if (display == 'none') {
      obj.innerHTML = '<%= I18n.t('rumi.gwboard.attach_list.close') %>';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
  var supressBeforeUnload = false;

  window.onbeforeunload = function( event ) {
    if (!supressBeforeUnload) {
      event = event || window.event;
      event.returnValue = '<%= I18n.t('rumi.gwbbs.message.lose_display') %>';
      return '<%= I18n.t('rumi.gwbbs.message.lose_display') %>';
    }
  }
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
  function chageNameSectionDisabled(check) {
    if (check == 1 || check == 2) {
      document.getElementById('item_name_editor_section_id').disabled = "";
    } else {
      document.getElementById('item_name_editor_section_id').disabled = "disabled";
    }
  }

  var my_load = function() {
    chageNameSectionDisabled(<%= @item.name_type %>);
  }
window.onload = my_load;
//]]>
</script>
