<% delete_confirm = t("rumi.message.confirm.delete") %>
<%= render partial: 'piece_header', locals: {new: true} %>

<!-- コンテンツここから -->
<div class="main">
  <%= div_notice %>
  <%= form_for :item, url: sort_update_gwcircular_custom_groups_path, html: {method: :put} do |f| %>
    <%= f.error_messages %>
    <table class="defaultTable">
      <tr>
        <th>
          <%= t("rumi.circular.custom_group.th.sort_no") %>
          <input id="item_submit" name="commit" type="submit" value="<%= t("rumi.button.update") %>" />
        </th>
        <th><%= t("rumi.circular.custom_group.th.name") %></th>
        <th><%= t("rumi.circular.custom_group.th.last_updated_at") %></th>
        <th><%= t("rumi.circular.custom_group.th.state") %></th>
        <th></th>
        <th></th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= f.text_field "sort_no_#{item.id}", value: item.sort_no, class: 'string sort_no', style: 'width: 40px;', size: 5 , maxlength: 4 %></td>
          <td><%= item.name %></td>
          <td><%= item.updated_at.strftime("%Y/%m/%d %H:%M") if !item.updated_at.blank? %></td>
          <td><%= item.state == 'enabled' ? t("rumi.state.enabled") : t("rumi.state.disabled") %></td>
          <td><%= link_to t("rumi.link.edit"), edit_gwcircular_custom_group_path(item.id) %></td>
          <td><%= link_to t("rumi.link.delete"), gwcircular_custom_group_path(item.id), data: {confirm: delete_confirm, method: :delete} %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= paginate @items %>
</div>
<!-- コンテンツここまで -->
