<% if action_name == 'edit' || action_name == 'update' %>
  <%= f.text_field :edit_start, :type => 'hidden', :value => params[:edit_start] %>
<% end %>

<% admin_groups = build_select_parent_groups(nil, RumiHelper::PARENT_GROUP_SETTINGS[:default], :code) %>
<% enable_groups = build_select_user_groups(Core.user.enable_user_groups, :code) %>
<%= required_head %>
<table class="defaultTable inputTable">
  <tr>
    <th><%= t('rumi.doclibrary.th.section_code') %><%= required('※') %></th>
    <td>
      <%= f.select(:section_code, @doclibrary_admin ? admin_groups : enable_groups, :include_blank => "#{t('rumi.doclibrary.th.section_code')}" + "#{t('rumi.gwboard.message.attached_word')}") %>
    </td>
  </tr>
  <tr>
    <th><%= t('rumi.doclibrary.th.category1_id') %><%= required('※') %></th>
    <td>
      <%= required("#{t('rumi.doclibrary.th.category1_id')}が登録されていません") if @category_levels == []%>
      <%= f.select(:category1_id, @category_levels,
          :include_blank => "#{t('rumi.doclibrary.th.category1_id')}" + "#{t('rumi.gwboard.message.attached_word')}",
          :disabled => @without_admin_folders) unless @category_levels == [] %>
    </td>
  </tr>
</table>
<table class="defaultTable inputTable">
  <tr>
    <th><%= t('rumi.doclibrary.th.title') %><%= required('※') %> ( <%= t('rumi.doclibrary.th.title') + t('rumi.gwboard.message.title_limit') %> )</th></tr><tr>
    <td><%= f.text_field :title, size: 140, maxlength: 140, style: "width:100%;" %></td>
  </tr>
</table>

<table class="defaultTable inputTable">
  <tr>
    <th><%= t('rumi.doclibrary.th.description') %></th></tr><tr>
    <td class="mceEditor">
      <%= f.text_area :body, :class => 'mceEditor', :style => 'width:100%;height:200px;' %>
    </td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '<%= I18n.t('rumi.gwboard.attach_list.open') %>';
    } else if (display == 'none') {
      obj.innerHTML = '<%= I18n.t('rumi.gwboard.attach_list.close') %>';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>
<%=gwboard_attachments_form(f, @item)%>
