<%= render partial: 'header', locals: {new: false} %>

<!-- コンテンツここから -->
<div class="main">
  <%= form_for :item, url: system_role_path(@item.id), html: {method: :put, multipart: true, id: 'itemForm'} do |f| %>
    <%= f.error_messages %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= submit_for(f, {caption: t("rumi.submit.update")}) %>
  <% end %>
</div>
<!-- コンテンツここまで -->
